*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	color:rgb(75,75,75);
}
a{
	text-decoration: none;
}
.nopaddingr{
	padding-right: 0 !important;
}


/*header*/
header{
	width: 100%;
	height: 80px;
	display: flex;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
header>.logo{
	height: 100%;
	display: block;
	flex: 3;
}
header>.banner{
	height: 100%;
	line-height: 80px;
	display: block;
	flex: 2;
	display: flex;
}
header>.banner>a{
	font-size: 0.95em;
	height: 100%;
	text-align: center;
	line-height: 80px;
	flex: 1;
}
header>.banner>a:hover{
	border-bottom: 3px solid rgba(0,0,0,0.5);
}

/*主体*/

.box{
	width: 100%;
}
.content{
	width: 70%;
	margin-left: 15%;
	margin-right:  15%;
}


/*标题、搜索框*/
.content>.title{
	padding-top: 120px;
	padding-bottom: 30px;
	width: 100%;

}
.content>.title>h1{
	font-size: 3.5em;
	color: rgb(255,90,95);
}
.content>.title>h2{
	font-size: 4em;
	color:rgb(75,75,75);
}

.content>.search{
	width: 100%;
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: 2px 2px 3px #aaa;
	display: flex;
}
.content>.search>.search-box{
	width: 99%;
	padding: 1%;
	flex: 1;
	border-right: 1px solid rgba(0,0,0,0.2);
}

.content>.search>.search-box>.search-title{
	height: 35px;
}
.content>.search>.search-box>.search-content{
	height: 35px;
}
.content>.search>.search-box>.search-content>input{
	border: none;
	font-size: 1.3em;
}
#search-boxa{
	position: relative;
}
.content>.search>#search-boxa>.button{
	position: absolute;
	top: 15px;
	right: 10px;
	width: 100px;
	height: 65px;
	line-height: 20px;
	display: block;
	border-radius: 5px;
	background-color: rgb(255,90,95);
	border:none;
	font-size: 1.5em;
	color: white;
	-webkit-appearance: button;
}





section{
	padding-top: 50px;
	width: 100%;
}
section>h2{
	font-size: 2.3em;
}

/*探索爱彼迎*/
.searchair{
	float: left;
	height: 70px;
	width: 244px;
	margin-right: 15px;
	border:1px solid rgba(0,0,0,0.2);
	box-shadow: 2px 2px 3px #aaa;
}
.searchair>.searchair-img{
	float: left;
}
.searchair>.searchair-text{
	float: left;
	height: 70px;
	line-height: 70px;
	padding-left: 5px;
	font-size: 1.25em;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
.clearfix{
    *zoom: 1;
}




/*城市新玩法*/
section>p{
	font-size: 1.15em;
	color: rgb(72,72,72);
}
.citybox{
	width: 100%;
	display: flex;
}
.city{
	/* width: 330px; */
	overflow: hidden;
	flex: 1;
	padding: 20px;

	/*margin-right: 15px;
	padding-top: 30px;*/
}
.city>.city-img{
	width: 100%;
	height: 170px;
}
.city>.city-img>img{
	width: 368px;
	height: 170px;
}
.city>.city-text{
	padding-top: 10px;
}
.city>.city-text>p{
	padding-bottom: 10px;
	display: block;
}
.city>.city-text>.text-a{
	font-size: 0.85em;
	color: rgb(64,90,24);
}
.city>.city-text>.text-b{
	font-size: 1.5em;
}

/*.cityr-img{
	position: relative;
}
.cityr-img>img{
	position: absolute;
	right: 0;
}

*/


/*热门目的地*/
.hotbanner{
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.hotbanner>a{
	display: block;
	float: left;
	padding: 20px;
}
.hotbanner>a:hover{
	border-bottom: 3px solid #008489;
}
.hotbanner>a>.add{
	font-size: 1.25em;
}
.hotbanner>a>.add:hover{
	color: #008489;
}
.hottable{
	width: 100%;
	padding-top: 20px;

}
.hottable>table{
	width: 100%;
}
.hotcontent{
	padding: 20px;
}
.nopadding{
	padding-left: 0 !important;
}
.lbtn{
	width: 200px;
	height: 50px;
	background-color: #008489;
	color: white;
	border-radius: 5px;
	border: none;
	font-size: 1.1em;
	-webkit-appearance: button;
}




/*plus*/
.plus-background{
	width:1131px;
	height: 280px;
	margin-top: 20px;
	padding-top: 40px;
	padding-left: 30px;
	background-image: url(../images/plus.png);
	background-repeat: no-repeat;

}
.plus-background>p{
	font-size: 1.75em;
}
.plus-background>input{
	-webkit-appearance: button;
	width: 180px;
	height: 50px;
	font-size: 1.1em;
	background-color: white;
	border: none;
	box-shadow: 2px 2px 3px #aaa;
	border-radius: 4px;
	margin-top: 20px;
}


/*春天出游好去处*/
.spring-up{
	margin-top: 20px;
	display: flex;
}
.spring-up>.springcity{
	flex: 1;
	padding-right: 20px;
}
.springcity-text>p{
	float: left;
	padding-right: 10px;
	line-height: 25px;
}
.springcity-text>.a,.b{
	font-size: 1.15em;
}

.spring-down{
	margin-top: 30px;
	display: flex;
}
.spring-down>.springserves{
	flex: 1;
	display: flex;
	line-height: 60px;
	
}
.spring-down>.springserves>.springserves-text{
	margin-left: 30px;
	line-height: 30px;
}

/*享受*/
.enjoybox{
	padding-top: 20px;
	display: flex;
}
.enjoy{
	flex: 1;
}


/*体验*/
.traveller{
	margin-top: 20px;
	width: 100%;
}
.traveller>table{
	width: 100%;
}
.travellerbox{
	padding: 20px;
	/*第一列不左对齐*/
}
.traveller-text>a>span{
	display: block;
}
